@font-face {
    font-family: "OpenSans-Regular";

    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf"),
        url("../TM-Region/fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf");

    font-weight: normal;

    font-style: normal;
}

@font-face {
    font-family: "OpenSans-ExtraBold";

    src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf"),
        url("../TM-Region/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("ttf");

    font-weight: extra-bold;

    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";

    src: url("./fonts/Open_Sans/OpenSans-Bold.ttf"), url("../TM-Region/fonts/Open_Sans/OpenSans-Bold.ttf") format("ttf");

    font-weight: bold;

    font-style: normal;
}
html {
    height: 100%;
}
.container {
    max-width: 510px;
    margin: 0 auto;
    position: relative;
}
#wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.header {
    height: 234px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.header__link {
    display: block;
}
.header__link:not(:last-child) {
    margin-right: 5px;
}
.header__link-1 {
    max-width: 20px;
}
.header__link-2 {
    max-width: 86px;
}
.header__link-3 {
    max-width: 120px;
}
.header__link-4 {
    max-width: 86px;
}
.header__link-5 {
    max-width: 86px;
}
.header__link-6 {
    max-width: 86px;
}
.header__link img {
    max-width: 100%;
}
.header__center-img {
    max-width: 100%;
    height: 119px;
    margin: 0 21px;
    margin-top: 81px;
}
.header__menu {
    position: relative;
    border-top: 3px solid #ff8c00;
    border-bottom: 3px solid #ff8c00;
    width: 100%;
    height: 34px;
    padding-top: 4px;
    overflow: hidden;
}
.header__link img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    display: block;
}
.header__link {
    display: inline-block;
}
.header__link:hover img {
    opacity: 0;
}
.header__link-1:hover {
    background: url(gif/sign/hom_0.gif);
}
.header__link-2:hover {
    background: url(gif/sign/obz_0.gif);
}
.header__link-3:hover {
    background: url(gif/sign/trans_0.gif);
}
.header__link-4:hover {
    background: url(gif/sign/marsh_0.gif);
}
.header__link-5:hover {
    background: url(gif/sign/price_0.gif);
}
.header__link-6:hover {
    background: url(gif/sign/portf_0.gif);
}

.hero {
    width: 100%;
    height: 83px;
    background: #c0c0c0;
    margin-bottom: 50px;
}
.hero__row {
    padding-top: 10px;
}
.hero__line {
    position: absolute;
    top: 76px;
    left: 0;
    width: 18px;
    height: 4px;
    background: #ff8c00;
}

.hero__line-row {
    max-width: 468px;
    margin-right: 42px;
}
.hero__list {
    width: 540px;
    height: 22px;
    position: absolute;
    top: 90px;
    left: 17px;
}
.hero__text {
    font-size: 11px;
    font-family: "OpenSans-Bold";
    color: #889999;
    width: 90px;
    font-weight: 700;
}
.hero__text:not(.hero__text-lh) {
    line-height: 22px;
}
.hero__link img:hover {
    opacity: 0;
}
.hero__link {
    position: relative;
    display: block;
    max-width: 60px;
    border: none;
    padding: 0;
}
.hero__link:not(:last-child) {
    margin-right: 8px;
}
.hero__link img {
    max-width: 100%;
}
.hero__link-1:hover {
    background: url(gif/tram.gif);
}
.hero__link-2:hover {
    background: url(gif/troll.gif);
}
.hero__link-3:hover {
    background: url(gif/avt.gif);
}
.hero__link-4:hover {
    background: url(gif/marsh.gif);
}
.hero__link-5:hover {
    background: url(gif/gaz.gif);
}
.footer {
    position: relative;
}
.footer__tel-block {
    width: 100%;
    height: 174px;
    border-top: 2px solid #d3d3d3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__tel {
    font-size: 11px;
    font-family: "OpenSans-Regular";
    color: #889999;
    line-height: 30px;
    position: absolute;
    top: 165px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.footer__arrow-up {
    width: 15px;
    height: 9px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 17px;
    margin-left: 100px;
    cursor: pointer;
    display: block;
}
.footer__arrow-up--mt {
    margin-top: 160px;
}
.footer__bg-block {
    position: relative;
    width: 100%;
    height: 243px;
    background: #889999;
    border-top: 3px solid #ff8c00;
}
.footer__transmedia {
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    color: #ff8c00;
    width: 150px;
    height: 20px;
    background: #005566;
    line-height: 20px;
}
.last-work {
    margin-top: 43px;
}
.last-work__row {
    margin: 0 auto;
    max-width: 720px;
}
.last-work__text {
    width: 80px;
    font-weight: 700;
    font-size: 11px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    line-height: 14px;
    color: #696969;
}
.last-work__left-block {
    margin-top: 20px;
}
.last-work__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 626px;
}
.last-work__bus-img {
    max-width: 342px;
    height: 172px;
}
.last-work__closed-img {
    max-width: 280px;
    height: 172px;
}
.last-work__right-block img {
    display: block;
    max-width: 100%;
    width: auto;
}
.last-work__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 38px 4px 38px;
    grid-template-columns: repeat(2, 38px);
    gap: 4px;
    width: 90px;
    margin-top: 30px;
}
.last-work__link-2 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
}
.last-work__link-3 {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
}
.last-work__link-1 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
}
.last-work__images img:hover {
    opacity: 0;
}
.last-work__link-1:hover {
    background: url(gif/avt/r_1.gif);
}
.last-work__link-2:hover {
    background: url(gif/avt/r_2.gif);
}
.last-work__link-3:hover {
    background: url(gif/avt/r_3.gif);
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.last-work__right-text {
    font-size: 11px;
    font-family: "OpenSans-Bold";
    color: #696969;
    font-weight: 700;
    max-width: 230px;
    line-height: 13px;
}
.last-work__right-text:first-child {
    margin-bottom: 10px;
}
.last-work__right-text:last-child {
    max-width: 250px;
}
.last-work__bus-img {
    max-width: 343px;
}
.last-work__text-block {
    margin-left: 30px;
    margin-top: 18px;
}
.advertising {
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 2px solid #d3d3d3;
}
.advertising__container {
    max-width: 720px;
    margin: 0 auto;
}
.card {
    font-size: 11px;
    font-family: "OpenSans-Bold";
    font-weight: 700;
    color: #f2f4f4;
    width: 343px;
    height: 42px;
    background: #87939b;
    line-height: 42px;
    padding-left: 10px;
    margin-left: 98px;
}
.advertising__left-text {
    font-size: 12px;
    font-weight: 700;
    color: #696969;
    line-height: 17px;
    width: 320px;
    margin-right: 23px;
}
.advertising__right-text {
    font-size: 12px;
    font-weight: 700;
    color: #696969;
    line-height: 15px;
    width: 320px;
}
.advertising__right-block {
    margin-left: 18px;
    margin-top: 2px;
}
.advertising__left-block {
    margin-top: 45px;
}
.orange-line {
    width: 80px;
    height: 12px;
    background: #ff8c00;
}
.templates {
    margin-bottom: 20px;
    border-top: 2px solid #d3d3d3;
}
.templates__container {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
}
.templates__img {
    max-width: 100%;
}
.templates__link {
    font-weight: 700;
    font-size: 11px;
    font-family: "OpenSans-Bold";
    text-decoration: underline;
    color: #446677;
    border: none;
}
.templates__row {
    max-width: 500px;
}
.templates__archive {
    font-weight: bold;
    font-size: 11px;
    font-family: "OpenSans-Bold";
    color: #696969;
    cursor: pointer;
}
.templates__right-block {
    max-width: 500px;
    margin: 0 auto;
}
.templates__left-block {
    position: absolute;
    top: 170px;
    left: 0;
}

.routes {
    border-top: 2px solid #d3d3d3;
}
.routes__container {
    max-width: 720px;
    margin: 0 auto;
}
.routes__number-bus {
    font-weight: bold;
    font-size: 13px;
    font-family: "OpenSans-Bold";
    color: #ffffff;
    width: 65px;
    height: 23px;
    background: #808080;
    text-align: center;
    line-height: 23px;
    margin-right: 12px;
    margin-bottom: 9px;
}
.routes__text {
    font-weight: 700;
    font-size: 11px;
    font-family: "OpenSans-Bold";
    color: #696969;
    line-height: 23px;
    max-width: 620px;
}
.routes__text-black {
    color: black;
}
.routes__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.routes__text-block {
    margin-bottom: 10px;
    line-height: 12px;
}
.routes--mb {
    margin-bottom: 60px;
}
.routes__list {
    margin-top: 15px;
    margin-left: 98px;
}
.footer__bg-block-2 {
    height: 40px;
}
.footer__tel-block-2 {
    height: 40px;
}
.footer__arrow-up-2 {
    margin-top: 17px;
}
.footer__tel-2 {
    top: 22px;
}
.last-work__text-block-2 {
    max-width: 270px;
}
.advertising__left-text-2 {
    line-height: 15px;
}
.advertising__text:not(:last-child) {
    margin-bottom: 6px;
}
.templates__row-2 {
    max-width: 350px;
}
.quantity {
    margin-bottom: 8px;
}
.advertising__text {
    max-width: 631px;
    font-size: 11px;
    font-family: "OpenSans-Bold";
    color: #696969;
    font-weight: 700;
    margin-left: 97px;
    margin-top: 5px;
    line-height: 13px;
}
.card--height {
    line-height: 13px;
    height: auto;
    padding: 12px;
    margin-bottom: 10px;
}
.subtleties-work__container {
    max-width: 720px;
    margin: 0 auto;
}
.subtleties-work__black-text {
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    font-family: "OpenSans-Bold";
    margin-bottom: 10px;
    line-height: 13px;
}
.subtleties-work__text {
    font-size: 11px;
    font-weight: 700;
    font-family: "OpenSans-Bold";
    color: #696969;
    margin-bottom: 10px;
    line-height: 13px;
}
.subtleties-work__container {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
}
.subtleties-work__list {
    margin-left: 98px;
    max-width: 631px;
}
.subtleties-work__black-text--fw {
    font-weight: 400;
}

.subtleties-work__img {
    width: auto;
    position: absolute;
    top: 62px;
    left: -25px;
}
.advertising__text-2 {
    margin-left: 0;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.popup__foto {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.overlay {
    width: 100%;
    height: 100%;
}

.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

.back_to_top:hover {
    background: #e9ebec;
}

.back_to_top-show {
    display: block;
}

body {
    margin: 0;
    padding: nopadding;
    height: 100%;
}

header {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
}
.header__bg {
    background-image: url(imgs/background.png);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
}

.head {
    max-width: 760px;
    margin: 0 auto;
    display: block;
}
.head img {
    display: block;
    width: 100%;
}

#logo {
    height: 14px;
    width: 14px;
    margin: 0;
    padding: 0;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 5px auto;
    padding: 0;
}

li {
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0px 2px;
}

a {
    text-align: center;
    text-decoration: none;
    font-family: "OpenSans-Bold";
    padding: 0px 10px;
    margin: 0;
    font-size: 12px;
    color: #ff9900;
    border: solid 2px #ff9900;
}

a:hover {
    background-color: #ff9900;
    color: white;
}

img {
    width: 100%;
}

#img1 {
    max-width: 342px;
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
}

#img2 {
    max-width: 600px;
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
}

hr {
    position: relative;
    padding: nopadding;
    margin: 0;
    border: solid 1px #ff9900;
}

.block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.left-block {
    margin-top: 30px;
    display: block;
    padding: 2px;
    width: 108px;
}

.right-block {
    display: block;
    padding-left: 20px;
    width: 100%;
}

.portfolio-block {
    position: relative;
    display: block;
    width: 100%;
}

.right-block img {
    margin-right: 25px;
    margin-bottom: 15px;
}

H1 {
    font-family: "OpenSans-ExtraBold";
    font-size: 16px;
}

.left-title {
    font-family: "OpenSans-Bold";
    font-size: 16px;
    background: none;
    width: inherit;
    color: black;
}

H2 {
    font-family: "OpenSans-Bold";
    font-size: 12px;
    background-color: #87939b;
    width: 340px;
    padding: 10px;
    color: white;
    width: calc(100% - 20px);
}

H3 {
    font-family: "OpenSans-Bold";
    font-size: 12px;
}

.article {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 760px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

p {
    font-family: "OpenSans-Regular";
    font-size: 12px;
}

.carousel {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 70px;
    margin-right: auto;
}

.carousel-box {
    position: relative;
    height: 220px;
}

.left,
.right {
    height: 20px;
    width: 15px;
    margin: 100px 50px;
}

.photo {
    height: 210px;
    width: 346px;
}

.left,
.right,
.photo {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -5px;
    left: 170px;
    background-color: #f1f1f1;
    min-width: 210px;
    z-index: 1;
    padding: nopadding;
    margin: 0;
}

.portfolio li:hover {
    color: #b80000;
}

.portfolio li:hover .dropdown-content {
    display: block;
    background: none;
    margin: 0;
    padding: nopadding;
}

.portfolio li:hover .dropdown-content a {
    white-space: nowrap;
    padding: nopadding;
    text-align: left;
    margin: 5px;
    padding-left: 10px;
    display: block;
    background-color: #da0000;
    color: white;
}

.portfolio li:hover .dropdown-content a:hover {
    background-color: #b80000;
}

.sort-of-vehicles {
    display: inline-block;
    margin-top: 30px;
}

.sort-of-vehicles img {
    width: 148px;
}

#vehicle-0 {
    background-color: #d90000;
    color: white;
}

.hr-gray {
    margin: 0;
    margin-top: -4px;
    border: solid 1px #b3b3b3;
    padding: 0;
}

.map {
    max-width: 342px;
    float: left;
}

.description {
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: 150px;
    height: 100px;
}

form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 760px;
}

form p {
    margin-left: 192px;
}

input {
    width: 205px;
    margin-right: -2px;
}

textarea {
    width: 412px;
    height: 80px;
}

input,
textarea,
.button {
    display: block;
    margin: 2px auto;
    font-family: "OpenSans-Bold";
    color: gray;
    padding: 10px;
    border: solid 2px #d90000;
    width: 350px;
}

.button {
    width: 374px;
    margin-top: 2px;
    margin-bottom: 50px;
    color: white;
    border: none;
    background-color: #d90000;
}

.button:hover {
    background-color: #b80000;
}

.copyright {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #005566;
}

.wrapper {
    min-height: calc(100vh - 40px);
}

footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

footer p {
    font-family: "OpenSans-Bold";
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin: 0;
}
object {
    pointer-events: none;
}

#top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    cursor: pointer;
    display: none;
    opacity: 1;
    color: #ff9900;
}
#top:hover {
    opacity: 1;
    -webkit-transition: 0.5s;
    color: #d37f00;
    fill: black;
}
html {
    scroll-behavior: smooth;
}

.top-arrow {
    width: 35px;
}

object:hover .top-arrow {
    fill: #005566;
}

.plus {
    width: auto;
}
.minus {
    width: auto;
}
.head-2 {
    padding-top: 65px;
}
.templates__link:hover{
    background-color: transparent;
    color: #5c7988;
}
